
@import '~@/assets/style/theme/theme.less';


// 选中激活效果
.hover:active{
    opacity: 0.6;
}
/* 全局主题颜色 */
@themeColor:#BF272D;//主题红
@second-theme-color:#ea4452; //
@weixin:#30cb49;//微信绿
@pengyouquan:#76f345;//朋友圈
@shareColor:#40b0ff;//分享蓝
@loadingColor:#ffc364;//下载黄
@orderColor:#ff9639;//下单黄
@pageBgColor:#ECEFF1;//页面底色
@backgroundColor:#fff;

/* 常规使用的颜色 */
@color-text-base:#000; //默认色
@color-text-title:#333; //标题色
@color-text-secondary: #666;  
@color-text-caption: #999;   //辅助说明
@color-text-placeholder: #bbb;   //输入框提示

/* 分割线 */
@lineColor:#eceff1;

  /* 点击效果 */
.hover:active{
    opacity: 0.6;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}


.row-img{
  display: inline-block;
  width: 100%;
}
.col-img{
  display: inline-block;
  height: 100%;
}
.vc-fl{
  float: left;
}
.vc-fr{
  float: right;
}
.vc-font-bold{
  font-weight: bold;
}
.vc-text-hidden{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}